<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ros2_control" params="">
    <ros2_control name="six_dofra_ros2_controller" type="system">
      <hardware>
        <plugin>fake_components/GenericSystem</plugin>
      </hardware>
      <joint name="elevator_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>
  </xacro:macro>

</robot>

