<launch>

    <!-- Launch Gazebo -->
    <!-- Associate to the robot description parameter, the urdf file that model the robot-->
    <param name="robot_description" textfile="$(find urdf_6_dofra_v3)/urdf/URDF_Assembly_6_DOFRA_v3.urdf" />

    <!-- Set the position in empty world-->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.8" />

     <!-- Launch Gezabo world in paused-->
    <include file = "$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="true" />
    </include> 

    <!-- Spawn the robot using the package gazebo_ros-->

    <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model"  output="screen" args="-urdf -param robot_description -model six_dofra -x $(arg x) -y $(arg y) -z $(arg z)" />

    <!-- <arg name="initial_joint_positions" default=" -J joint_1 -1.57 -J joint_2 0 -J joint_3 0 -J joint_4 0 -J joint_5 0 -J joint_6 0 -J linear_axis 0" doc="Initial joint configuration of the robot"/> -->

    <!-- Load the node controller manager-->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"  
            output="screen" respawn="false" ns="/six_dofra"
            args="joint_state_controller
                manipulator_controller
                --timeout 60 ">
    </node>

     <!-- Load the controllers-->
    <rosparam file="$(find urdf_6_dofra_v3)/config/six_dofra_joint_states.yaml" command="load" />
    <rosparam file="$(find urdf_6_dofra_v3)/config/trajectory_control.yaml" command="load" />

     <!-- Convert joint states to TF transform for rviz and rqt-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  
            output="screen" respawn="false">
            <remap from="/joint_states" to="/six_dofra/joint_states"/>
        
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <remap from="/joint_states" to="/six_dofra/joint_states"/>

</launch>