<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="gripper_transmission" params="prefix">

    <!-- ROS 2 Control system -->
    <ros2_control name="GripperSystem" type="system">
    
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <!-- Define joints controlled by ROS 2 control -->
      <joint name="${prefix}_joint_1_right">
        <command_interface name="position">
            <param name="min">-3.14</param>
            <param name="max">3.14</param>
        </command_interface>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

    <!-- Gazebo plugin for ROS 2 control -->
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
            <parameters>$(find gripper_moveit_config)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- Mimic joints for Gazebo -->
    <gazebo>
      <plugin filename="libgazebo_mimic_joint_plugin.so" name="${prefix}_mimic_1">
        <joint>${prefix}_joint_1_right</joint>
        <mimicJoint>${prefix}_joint_1_left</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
      </plugin>

      <plugin filename="libgazebo_mimic_joint_plugin.so" name="${prefix}_mimic_2">
        <joint>${prefix}_joint_1_right</joint>
        <mimicJoint>${prefix}_joint_2_left</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
      </plugin>

      <plugin filename="libgazebo_mimic_joint_plugin.so" name="${prefix}_mimic_3">
        <joint>${prefix}_joint_1_right</joint>
        <mimicJoint>${prefix}_joint_2_right</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
      </plugin>

      <plugin filename="libgazebo_mimic_joint_plugin.so" name="${prefix}_mimic_4">
        <joint>${prefix}_joint_1_right</joint>
        <mimicJoint>${prefix}_joint_support_left</mimicJoint>
        <multiplier>-1.0</multiplier>
        <offset>0.0</offset>
      </plugin>

      <plugin filename="libgazebo_mimic_joint_plugin.so" name="${prefix}_mimic_5">
        <joint>${prefix}_joint_1_right</joint>
        <mimicJoint>${prefix}_joint_support_right</mimicJoint>
        <multiplier>1.0</multiplier>
        <offset>0.0</offset>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot> 